.ajcebg{
    position: absolute;
    top:23%;
    left:40%;
}
/* svg{
    position: absolute;
    top:5%;
    left:2%;
} */
.sidebar{
    width: 204px;
    height: 1045px;
    border-radius: 16px;
    background: rgba(194, 218, 255, 0.89);
}
.sdhead{
    width: 206px;
    height: 37px;
    color: #0D0D0D;
    text-align: center;
    text-shadow: 5px 3px 3.799999952316284px rgba(0, 0, 0, 0.25);
    font-family: Rowdies;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: 3px;
}
.l1{
    position: absolute;
    left:20px;
    stroke-width: 3px;
    stroke: rgba(112, 112, 112, 0.97);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rec{
    width: 212px;
    height: 1045px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(66, 73, 141, 0.44);
}
.tog{
    position: absolute;
    left:20px; 
}
.pg1{
    display: grid;
    width: 175.906px;
    height:53.974px;
    margin-top: 100px;
    margin-left: 4px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 30px;
    background-color:white;
    transform: rotate(0.1deg);
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.50));


}
.h5{
    grid-column: 2 ;
    grid-row: 1 ;
    color: #565656;
    font-family: Sarpanch;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 145%; /* 23.2px */
    letter-spacing: 3.04px;
    position: relative;
    top: -10px;
}

.pg2{
    display: grid;
    width: 175.906px;
    height:53.974px;
    padding-top: 60px;
    padding-left: 20px;
    border-radius: 30px;
}

.h5-2{
    grid-column: 2 ;
    grid-row: 1 ;
    color: #565656;
    font-family: Sarpanch;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 145%; /* 23.2px */
    letter-spacing: 3.04px;
    position: relative;
    top: -24px;
    
}