body {
  margin: 0; /* Remove default margin to ensure the image covers the entire body */
}

.container img {
  position: absolute; /* Position the image absolutely within the container */
  top: 0;
  left: 0;
  width: 80%; /* Make the image cover the entire container */
  height: 50%;
  z-index: 2; /* Place the image above the background color */
}

ul {
  margin-left: 330px;
  font-size: 30px;
}
li {
  margin-bottom: 10px;
}
@font-face {
  font-family: HealingSunday;
  src: url("Healing\ Sunday.ttf");
}
h1 {
  margin-left: 300px;
  font-family: Healingsunday;
}
